@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />
<h4><strong>Created by: </strong>@ViewData["CreatedBy"]</h4>
<p>About me: <a href="@ViewData["Linkedin"]"> Linkedin </a></p>
